{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
{% endblock %}
{% block title %}{% trans "CVCR Registration" %}{% endblock %}

{% block navbartext %}
{% endblock %}

{% block content-top %}
{% endblock %}

{% block content %}
<form class="form-horizontal" action="{% url registration_register %}" method="post">
  {% csrf_token %}
  <legend>{% trans "CVCR Registration" %}</legend>
  {% if form.non_field_errors %}
  <div class="control-group error">
    {% for error in form.non_field_errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>
  {% endif %}
  {% for field in form %}
  <div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
    <div class="controls">
      {{ field }}
      {% if field.errors %}
      {% for error in field.errors %}
      <span class="help-inline">{{ error }}</span>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <button class="bnt" type="submit">{% trans "Register" %}</button>
</form>
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block extrascript %}
{% endblock %}
