{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
{% endblock %}

{% block title %}CVCR Home{% endblock %}

{# {% block navbartext %} {% endblock %} #}

{% block content-top %}
{% endblock %}

{% block content %}
{% if user.is_anonymous %}
<h2>{% trans "Welcome visitor would you like to" %}</h2>
<ul>
<li>
  <a title="{% trans "Register" %}" href="{% url registration_register %}">
    <i class="icon-pencil"></i>{% trans "Register" %}
  </a>
</li>
<li>
  <a title="{% trans "Login" %}" href="{% url auth_login %}">
    <i class="icon-user"></i>{% trans "Login" %}
  </a>
</li>
</ul>
{% else %}
<a title="{% trans "Register a new patient" %}" href="{% url patient-create %}">
  <i class="icon-pencil"></i>{% trans "Register a new patient" %}
</a>
{% endif %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block extrascript %}
{% endblock %}
