{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
{% endblock %}

{% block title %}{% trans "Account" %} {{ user }}{% endblock %}
{% block title2 %}{% trans "Account" %} {{ user }}{% endblock %}

{% block content %}
{% if not user.get_profile.user_type %}
<p class="lead">
  {% trans "Are you a" %}
</p>
<p>
  <ul class="unstyled">
    <li><a href="{% url user-settype 'D' %}">{% trans "Doctor" %}</a></li>
    <li><a href="{% url user-settype 'P' %}">{% trans "Patient" %}</a></li>
  </ul>
</p>
{% elif user.get_profile.user_type == 'M' %}
{% include "profile_doctor.html" %}
{% else %}
{% include "profile_patient.html" %}
{% endif %}
{% endblock %}
